<center>
    <form action="/" method="Post">
        <input type="text" id="textbox" placeholder="Type in reg..." name="textbox" required></input><br><br>
        <input type="submit" id="button" value="Add"</input>
    </form>
     {{#each regNums}}
        <div name="display">{{this.regis}}</div>
     {{/each}}
</center>
