<!--Textbox form  -->
<center>
    <form action="/register" method="Post">
        <input type="text" id="textbox" placeholder="Type in reg..." name="textbox" required></input><br><br>

        <input type="submit" id="button" value="Add"</input><br><br>
        </form>

</center>


<!--Radio buttons form  -->

<form class="" action="/" method="Post">

  <label>Malmesbury<input type="radio" name="regisButt" value="CK"></label>
  <label>Bellville<input type="radio" name="regisButt" value="CY"></label>
  <label>Cape Town<input type="radio" name="regisButt" value="CA"></label><br><br>
<input type="submit" id="button" value="selected"</input>
</form>
{{#each regNums}}
<div id="display">{{this.regis}}</div><br><br>
{{/each}}
