<center>
    <form action="/" method="Post">
        <input type="text" id="textbox" placeholder="Type in reg..." name="textbox" required></input><br><br>
        <input type="submit" id="button" value="Add"</input>
    </form>
  </div>
  {{#each regNums}}
<ul>
      <div name="display"><li>{{regNums}}</li></div>
</ul>
{{/each}}
</center>
